.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 20px;
  margin-bottom: 20px;
  border-color: #ff5b6a;
  border-style: dashed;
  cursor: pointer;

  .id-order {
    color: #ff5b6a;
    width: 20%;
  }

  .address {
    width: 40%;
  }

  .time {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .price {
    width: 20%;
  }
}
