.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 700px;
  border-radius: 40px;
  font-family: "Rubik", sans-serif;
  background-color: #ff5b6a;
}

.container-main {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 2;
  margin-left: 100px;
  width: 1000px;
  height: 700px;
  border-radius: 40px;
  background-color: white;
}

.left-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 3;
  width: 50%;
  height: 700px;
  border-radius: 40px;
  background-color: white;
}

.right-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  z-index: 3;
  width: 50%;
  height: 700px;
  background-color: transparent;
}

.icon-close {
    display: block;
    margin-bottom: 600px;
    color:#2c2a2a;
    z-index: 99;
}

.sign-up {
  color: black;
  font-size: 50px;
  margin: 100px 0px 0px 100px;
}

.input-name {
  display: flex;
  width: 90%;
  flex-direction: row;
  margin: 20px 0px 0px 100px;
}

.input-phonenumber {
  display: flex;
  width: 90%;
  flex-direction: row;
  margin: 20px 0px 0px 100px;
}

.input-email {
  display: flex;
  width: 90%;
  flex-direction: row;
  margin: 20px 0px 0px 100px;
}

.input-password {
  display: flex;
  width: 90%;
  flex-direction: row;
  margin: 20px 0px 0px 100px;
}

.create-acc-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 230px;
  height: 60px;
  background-color: #2c2a2a;
  margin: 50px 0px 0px 100px;
}
