.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;

    // &.active {
    //   color: #ff5b6a;
    // }

    &:hover .content {
      color: #ff5b6a;
    }

    &:hover .hover-bottom {
      background-color: #ff5b6a;
    }

    .hover-top {
      width: 100%;
      height: 3px;
      background-color: transparent;
    }

    .content {
      display: flex;
      align-items: center;
      height: 100%;
      color: #142f43;

      &.active {
        color: #ff5b6a;
      }

      &.active .hover-bottom {
        background-color: #ff5b6a;
      }
    }

    .hover-bottom {
      width: 100%;
      height: 3px;
    }
  }
}
