.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    background-color: transparent;
    width: 400px;
    font-weight: 700;
}
